version: "3.9"

services:
  api:
    build: .
    ports:
      - "8080:8080"
    # depends_on:
    #   - mongo
    restart: unless-stopped

  # mongo:
  #   image: mongo:6
  #   ports:
  #     - "27017:27017"
  #   volumes:
  #     - mongo_data:/data/db

# volumes:
#   mongo_data:
